################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mcr2vmp/mcr2vmp/Debug
